<!-- View header bar is hidden using attribute 'hide-nav-bar="true"' -->
<ion-view title="Login-Fullscreen" hide-nav-bar="true">
  <!-- Splash background - refer to .gem-splash_background in css/style.css to change image -->
  <ion-content class="gem-ion-content">
    <div class="gem-form text-center">
      <!-- Logo as you please -->
      <div class="gem-splash-logo">
        <img src="img/gemionic/kinsheep_app_logo.png" alt="Logo" style="width: 250px">
        <h3 class="gem-white">Kinsheep</h3>
      </div>
      <!-- end Logo -->
      <div class="row">
        <br/><br/><br/><br/><br/><br/><br/><br/>
      </div>

      <button class="button button-dark button-rounded" ng-click="signup()" style="border-style:none;"><strong>Sign Up</strong></button>
      <button class="button button-calm button-rounded" ng-click="login()" style="border-style:none; background-color:#5ABAE9;"><strong>Login</strong></button>

    </div>    
  </ion-content>
</ion-view>